openai===1.93.0
tiktoken===0.9.0
anthropic===0.55.0
anthropic_bedrock===0.8.0
ai21===4.0.3
cohere===5.15.0
aleph-alpha-client===10.4.0
huggingface_hub===0.33.1
prettytable===3.16.0
aiohttp===3.12.13
google-cloud-aiplatform~=1.100.0
einops===0.8.1
accelerate===1.8.1
protobuf~=5.28.0
grpcio===1.73.1
google-genai>=1.23.0
ollama===0.5.1
reka-api===3.2.0
together===1.5.17
mistralai===1.8.2
groq===0.29.0
deepseek===1.0.0
